.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
}

.headerLogo {
  margin: 0 auto;
}

.headerItems {
  display: flex;
  list-style: none;
  padding: 0;
}